@use "@/style/reset" as *;
@use "@/style/variables" as *;

body {
  font-family: $font-primary, sans-serif;
}

.el-step__head.is-finish {
  color: #0dff00 !important;
  .el-step__icon.is-text {
    background-color: #0dff00;
    .el-step__icon-inner {
      color: #fff;
    }
  }
}
